/* Cambiar el color de fondo del documento a un tono oscuro */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dff5e3; /* Cambiado a un tono de verde claro */
    color: #2c3e50; /* Cambiado a un tono de verde oscuro */
}

/* Estilos para la barra de navegación principal */
.navbar {
    background-color: #27ae60; /* Cambiado a un tono de verde oscuro */
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Estilos para la segunda barra de navegación */
.navbar:nth-child(2) {
    margin-left: 150px;
}

/* Estilos específicos para los enlaces en la segunda barra de navegación */
.navbar:nth-child(2) a {
    color: #333;
    background-color: #2ecc71; /* Cambiado a un tono de verde claro */
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar:nth-child(2) a:hover {
    background-color: #27ae60; /* Cambiado a un tono de verde oscuro */
}

/* Estilos para las tarjetas de explicación */
.explanation-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Cambiar el color del texto del documento a un tono claro */

/* Aumentar el tamaño de las imágenes */
img {
    margin: 10px;
    width: 800px;
    height: 320px; /* Puedes ajustar este valor al que prefieras */
    background: white;
}

/* Agregar un borde redondeado a las imágenes */
img {
    border-radius: 10px;
}

/* Agregar un efecto de sombra a las imágenes */
img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Centrar el contenedor de imágenes */
#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* Hacer que los elementos se alineen en una columna */
    flex-direction: column;
}

/* Centrar el título del documento */
h1 {
    text-align: center;
}

/* Centrar los títulos de las imágenes */
h3 {
    text-align: center;
}

.boton {
    background-color: #2ecc71; /* Cambiado a un tono de verde claro */
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5px; /* Agregado para bordes redondeados */
    color: white;
}
