/* Cambiar el color de fondo del documento a un tono oscuro */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #99ccff, #ffffff);
    /* Hacer que el body sea un contenedor en forma de grilla */
    display: grid;
    /* Definir dos columnas de igual tamaño */
    grid-template-columns: 1fr 1fr;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

form {
    width: 70%;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    /* Hacer que el formulario sea un contenedor flexible */
    display: flex;
    /* Hacer que los elementos se alineen en una columna */
    flex-direction: column;
    /* Hacer que el formulario ocupe la primera columna */
    grid-column: 1;
}

label,
input,
button {
    display: block;
    margin: 3px;
}

button {
    width: 200px;
    padding: 10px;
    border: none;
    background-image: linear-gradient(to right, #3399ff, #66ccff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* Centrar el botón "Enviar" */
    align-self: center;
}

div {
    /* Hacer que el gráfico ocupe la segunda columna */
    grid-column: 2;
    /* Centrar el gráfico */
    margin: auto;
}

/* Centrar el título del documento */
h1 {
    text-align: center;
}

/* Centrar los títulos de las imágenes */
h3 {
    text-align: center;
}

/* Aumentar el tamaño de las imágenes */
img {
    margin: 10px;
    width: 800px;
    height: 300px;
 /* Puedes ajustar este valor al que prefieras */
}

/* Agregar un borde redondeado a las imágenes */
img {
    border-radius: 10px;
}

/* Agregar un efecto de sombra a las imágenes */
img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.botones{
    margin-left: 300px;
    margin-bottom: 100px;
}